<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-contact">
          <a href="/"><img src="/assets/img/1sq-logo-green.png" width="130px" alt="1squint"></a>
          <p class="mt-3">
            <a href="mailto:info@1squint.org">info at 1squint.org</a>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Non-Fiction</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/non-fiction/future-of-education">Future of Education</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Fiction</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/fiction/joining-community">Joining Community</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Site</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/about">About</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/contact">Submit An Idea</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; airick journey crabill. All Rights Reserved.
      </div>
    </div>
  </div>

</footer>
